body {
  font-family: "Lato", sans-serif;
  background: #d7d6d9;
}
.head{
 margin-left: 260px; 
 font-size: 80px;
 text-align: center;
 padding-top: 80px; 
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #bbb9bf;
  overflow-x: hidden;
  padding-top: 20px;
  margin-right: 20px;
  text-align: center;
  font-weight: bolder;
  border: 10px solid #5e0202;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 28px;
  color: #560505;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 260px; 
  padding: 0px 10px;
}

h1{
color: #160141;
 text-shadow: 2px 2px #052ffa;
 font-size: 50px;
}
.Education{
  margin-top: 10%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
  border: 4px solid #5e0202;
  color: black;
}
#about{
  margin-top: 15%;
  color: black;
}

.container {
  width: 50%;
  background-color: black;
  margin-bottom: 10px;

}

#Skills {
  text-align: left;
  padding-top: 30%;
  padding-bottom: 5px;
  color: white; 
  margin-left: 15%; 
  font-size: 28px; 
  padding: 0px 20px;
  border: 4px solid #5e0202;
}

.html {width: 60%; background-color: #04AA6D;}
.css {width: 50%; background-color: #2196F3;}
.js {width: 45%; background-color: #f44336;}
.ps {width: 60%; background-color: #808080;}

.Experience{
  margin-top: 10%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
  border: 4px solid #5e0202;
  color: black;
}


.Interest{
  margin-top: 10%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
  border: 4px solid #5e0202;
  color: black;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.mywork{
  margin-top: 10%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
  color: black;
  border: 4px solid #5e0202;}


.Contact{
  margin-top: 10%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
  border: 4px solid #5e0202;
  color: black;
}